@tailwind base;
@tailwind components;
@tailwind utilities;
@import '@fontsource/vt323';


@keyframes progress-indeterminate {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}



:root {
  --background: 0 0 0;
  --foreground: 255 255 255;
}

.dark {
  --background: 0 0 0;
  --foreground: 255 255 255;
}

body {
  color: rgb(var(--foreground));
  background: rgb(var(--background));
}

.input-glow:focus {
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.1);
}

@layer components {
  .scrollbar-thin {
    scrollbar-width: thin; /* Firefox */
    scrollbar-color: #7f1d1d #000000; /* Firefox */
  }
  .scrollbar-thumb-red-600 {
    scrollbar-color: #7f1d1d #000000;
  }
  .scrollbar-track-black {
    scrollbar-color:#7f1d1d #000000;
  }
}
